* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #555;
}

#header {
  position: relative;
  width: 1280px;
  height: 70px;
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
}

#header img {
  margin-top: 15px;
  margin-left: 136px;
  float: left;
  margin-right: 45px;
  width: 100px;
  height: 37px;
}

.left-nav {
  width: 490px;
  height: 69px;
  line-height: 69px;
  margin-left: 280px;
}

.left-nav li {
  color: gray;
  list-style: none;
  font-size: 15px;
  float: left;
  cursor: pointer;
  width: 75px;
  font-weight: lighter;
  position: relative;
}

li:hover {
  color: #35b558
};

.index {
  margin-left: 15px;
}

.left-nav li:hover .arrow {
  transform: rotate(180deg);
}

.index:hover {
  color: #35b558;
  text-decoration: none;
}

.left-nav li .arrow {
  /* 里面没有内容用display: block撑开; */
  display: block;
  transition: all 0.4s linear;
  position: absolute;
  top: 33px;
  right: 30px;
  background-image: url(img/cssSprites.png);
  width: 11px;
  height: 7px;
  background-position: 0 -47px;
}

#header .search {
  position: absolute;
  top: 20px;
  right: 270px;
  width: 240px;
  height: 32px;
}

.search input {
  padding-left: 8px;
  width: 190px;
  height: 30px;
  border: 1px solid #e4e4e4;
}

input::-webkit-input-placeholder{
  color:grey;
  font-weight: lighter;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 40px;
  height: 30px;
  border: 1px solid;  
  border-color: #e4e4e4 #e4e4e4 #e4e4e4 transparent;
}

.search-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  background-image: url(img/cssSprites.png);
  background-position: 0 0;
}

.login-reg{
  position: absolute;
  right: 80px;
  line-height:70px;
  top: 0;
  width: 140px;
  height: 70px;
}

.login-reg a{
  margin-right: 30px;
  font-size: 14px;
  color: grey;
  font-weight: lighter;
}

.line {
  position: absolute;
  top: 29px;
  right: 94px;
  width: 1px;
  height: 16px;
  background: grey;
}

.login-reg a:hover {
  color: #35b558;
}

.community ul {
  position: absolute;
  width: 190px;
  height: 140px;
  z-index: 200;
  display: none;
  box-shadow: -1px 3px 5px rgba(000, 000, 000, 0.3);
}

.course ul {
  position: relative;
  display: none;
  z-index: 200;
  width: 190px;
  height: 140px;
  box-shadow: -1px 3px 5px rgba(000, 000, 000, 0.3);
}

.community-title:hover .community ul {
  display: block;
}

.community ul li , .course ul li ,.company ul li{
  text-align: left;
  line-height: 35px;
  font-size: 12px;
  padding: 0 15px;
  width: 160px;
  height: 35px;
  /* border: 1px solid black; */
}

.community ul li:nth-child(2n), .course ul li:nth-child(2n), .company ul li:nth-child(2n) {
  background:#FAFAFA;
}

.course-title:hover .course ul{
  display: block;
}

.company ul li span:first-child {
  display: block;
  width: 14px;
  float: left;
  margin-top: 10px;
  margin-right: 5px;
  height: 14px;
}

.zhineng-icon {
  background-image: url(img/cssSprite2.png);
  background-position: -35px 0;
}

.jishu-icon {
  background-image: url(img/cssSprite2.png);
  background-position: -72px 0;  
}

.jisuan-icon {
  background-image: url(img/cssSprite2.png);
  background-position: -20px 0;  
}

#header .company .zhuanqu-icon {
  width: 20px;
  height: 14px;
  background-image: url(img/cssSprite2.png);
  background-image: url(img/cssSprite2.png);
  background-position: 0 0;      
}

.Qualcomm-icon {
  background-image: url(img/cssSprite2.png);
  background-position: -50px 0;
}

.company ul {
  position: relative;
  z-index: 200;
  display: none;
  width: 190px;
  height: 175px;
  box-shadow: -1px 3px 5px rgba(000, 000, 000, 0.3);
}

.company-title:hover .company ul {
  display: block;
}

.career-content {
  position: relative;
  display: none;
  z-index: 200;
  margin-top: 2px;
  width: 200px;
  height: 381px;
  box-shadow: -1px 3px 5px rgba(000, 000, 000, 0.3);
}

.career-title:hover .career-content {
  display: block;
}

.web-content .web-icon {
  width: 14px;
  height: 14px;
  margin-top: 10px;
  margin-left: 15px;
  background-image: url(img/cssSprites.png);
  background-position: -94px -23px;
}

.web-content .web-info {
  margin-left: 10px;
  font-size: 12px;
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: left;
}

.web {
  position: relative;
  width: 200px;
  height: 80px;
}

.left-nav .career-content .web .web-title {
  display: block;
  width: 185px;
  height: 20px;
  font-size: 12px;
  color: #ccc;
  line-height: 20px;
  padding-left: 15px;
  background: #FAFAFA;
}

.web-content {
  width: 200px;
  height: 60px;
}

.wx {
  position: absolute;
  top: 50px;
  width: 200px;
  height: 30px;
}

.wx .wx-icon {
  width: 14px;
  height: 14px;
  margin-top: 8px;
  margin-left: 15px;
  background-image: url(img/cssSprites.png);
  background-position: -99px 0;
}

.wx .wx-content {
  width: 150px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  margin-left: 10px;
}

.career-title header {
  width: 183px;
  height: 20px;
  background: #FAFAFA;
  font-size: 12px;
  color: #ccc;
  line-height: 20px;
  padding-left: 15px;
}

.career-content .Android-icon {
  width: 14px;
  height: 14px;
  margin-top: 8px;
  margin-left: 15px;
  background-image: url(img/cssSprites.png);
  background-position: 0 -26px;
}

.career-content .Android-content {
  width: 150px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  margin-left: 10px;
}

.career-content .ios-icon {
  width: 14px;
  height: 14px;
  margin-top: 8px;
  margin-left: 15px;
  background-image: url(img/cssSprites.png);
  background-position: -48px -19px;
}

.career-content  .ios-content {
  width: 150px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  margin-left: 10px;
}

.career-content .houduan {
  width: 180px;
  height: 20px;
  background: #FAFAFA;
  font-size: 12px;
  color: #ccc;
  line-height: 20px;
  padding-left: 15px;
}

.career-content .python-icon, .career-content .php-icon,.career-content .golang-icon, .career-content .golang-icon {
  width: 14px;
  height: 14px;
  margin-top: 8px;
  margin-left: 15px;
  background-image: url(img/cssSprites.png);
}

.career-content .python-icon {
  background-position: -76px 0;
}

.career-content .php-icon {
  width: 20px;
  height: 14px;
  background-position: -48px 0;
}

.career-content .golang-icon {
  background-position: -20px -26px;
}

.career-content .python-content,.career-content .python-content, .career-content .php-content, .career-content .golang-content,.career-content .python-content, .career-content .dashuju-content {
  width: 150px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  margin-left: 10px;
}

.career-content  .python-block, .career-content  .php-block ,.career-content  .php-block {
  width: 200px;
  height: 30px;
}

.career-content  .dashuju {
  position: absolute;
  width: 183px;
  height: 20px;
  background: #FAFAFA;
  font-size: 12px;
  color: #ccc;
  line-height: 20px;
  padding-left: 15px;
  top: 270px;
}

.career-content .dashuju-icon {
  width: 20px;
  height: 20px;
  background-image: url(img/data.png);
  background-position: 0 0;
  margin-top: 25px;
  margin-left: 10px;
}

.career-content .dashuju-content {
  position: absolute;
  top: 290px;
  left: 25px;
}
.career-content .zhineng-icon {
  width: 20px;
  height: 20px;
  background-image: url(img/ml.png);
  background-position: 0 0;
  margin-top: 25px;
  margin-left: 10px;
}

.career-content .zhineng {
  position: absolute;
  top: 320px;
  padding-left: 15px;
  width: 183px;
  height: 20px;
  background: #FAFAFA;
  color: #ccc;
  font-size: 12px;
  line-height: 20px;
}

.career-content  .zhineng-block {
  position: absolute;
  width: 200px;
  height: 30px;
  top: 320px;
}

.career-content .zhineng-content {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 150px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  margin-left: 10px;
}








